/bin
shantell_sans.ttf
/library/albums/deltarune
/classes
/library/albums/remote_album
/extensions/utility;ytdlp/cache
extensions/utility;ytdlp/cachedsongs.txt
/extensions/utility;ytdlp/temp
/library/albums
/box
extensions/YTDLP.class
extensions/YTDLP$2.class
extensions/YTDLP$1.class
/extensions/utility;ffmpeg/ffmpeg
/extensions/utility;ffmpeg/cache
