/bin
shantell_sans.ttf
/library/albums/deltarune
/classes
/library/albums/remote_album
/extensions/utility;ytdlp/cache
extensions/utility;ytdlp/cachedsongs.txt
/extensions/utility;ytdlp/temp
/library/albums
/box
extensions/YTDLP.class
extensions/YTDLP$2.class
extensions/YTDLP$1.class
/extensions/utility;ffmpeg/ffmpeg
/extensions/utility;ffmpeg/cache
extensions/FFMPEG.class
*.class
/library/albums - Copy
latest.log
extensions/utility;ytdlp/new_cache.txt
extensions/utility;ytdlp/backup_cache.txt
extensions/utility;ytdlp/backup_song_usages.txt
extensions/utility;ytdlp/song_cache.txt
extensions/utility;ytdlp/song_usages.txt
settings.txt
